<div class="seller-auth">
  <div class="sign-up">
    <h1 class="sign-up">Sign up</h1>
    <form #sellerSignUp="ngForm" (ngSubmit)="signup(sellerSignUp.value)" class="common-form">
      <input class="form-input" type="text" ngModel name="firstName" placeholder="Enter firstName">
      <input class="form-input" type="text" ngModel name="lastName" placeholder="Enter lastName">

      <input class="form-input" type="password" name="password" ngModel placeholder="Enter password">
      <input class="form-input" type="text" ngModel name="email" placeholder="Enter email">
      <button class="form-button">Sign up!</button>
    </form>
  </div>
</div>
