<div class="add-product" appHighlight succes="true">
    <h1 >Aggiungi prodotto</h1>
    <form [formGroup]="productForm" class="common-form">
        <div>
            
            <input class="form-input" type="text" formControlName="name" placeholder="inserisci il nome">
            <div *ngIf="productForm.get('name')!.invalid">
                <div class="errors" *ngIf="productForm.get('name')!.errors?.['required']">Inserisci un nome</div>
                <div class="errors" *ngIf="productForm.get('name')!.errors?.['pattern']">Puoi inserire solo lettere</div>
            </div>
        </div>
        <div>
            
            <input class="form-input" type="text" formControlName="typo" placeholder="inserisci la categoria">
            <div *ngIf="productForm.get('typo')!.invalid">
                <div class="errors" *ngIf="productForm.get('typo')!.errors?.['required']">Inserisci una categoria</div>
                <div class="errors" *ngIf="productForm.get('typo')!.errors?.['pattern']">Puoi inserire solo lettere</div>
            </div>
        </div>
        <div>
            
            <input class="form-input" type="number" formControlName="quantity" placeholder="inserisci la quantità">
            <div *ngIf="productForm.get('quantity')!.invalid">
                <div class="errors" *ngIf="productForm.get('quantity')!.errors?.['required']">Inserisci la quantità</div>
                <div class="errors" *ngIf="productForm.get('quantity')!.errors?.['pattern']">Puoi inserire solo numeri positivi</div>
            </div>
        </div>
        <button class="form-button" (click)="addProduct()">Aggiungi prodotto</button>
    </form>    
</div>
